/* 
 * Скидання стилів браузера
 * TaskForge - базове скидання стилів
 */

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

/* Скидання списків */
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Скидання посилань */
a {
	text-decoration: none;
	color: inherit;
}

/* Скидання заголовків */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}