{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="welcome-section">
        <div class="welcome-text-container">
            <h1 class="welcome">Forge your future <br>with TaskForge</h1>
            <p class="welcome_text">Track your habits, build streaks, and <br> achieve your goals.</p>
            <div class="create-goal-btn">
                <a href="#" class="btn">
                    <i class="fa-solid fa-plus" style="color: gold;"></i> Create new goal
                </a>
            </div>
            
            <!-- Habits section moved under create-goal-btn -->
         	<div class="habits-section">
                <h2 class="section-title">My Habits</h2>
                <div class="habit-cards">
                    <div class="habit-card">
                        <i class="fa-solid fa-book-open"></i>
                        <h3>Read 20 min/day</h3>
                        <p>🔥 12 days in a row</p>
                    </div>
                    <div class="habit-card">
                        <i class="fa-solid fa-dumbbell"></i>
                        <h3>Exercise</h3>
                        <p>🔥 12 days in a row</p>
                    </div>
                    <div class="habit-card">
                        <i class="fa-solid fa-spa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}