/* 
 * Стилі футера
 * TaskForge - підвал сайту
 */

/* Футер */
footer {
	width: calc(90% - 40px);
	margin: 0px auto  20px auto;
	padding: 10px 20px;
	background-color: var(--bg-main);
	border-bottom-left-radius: var(--border-radius-lg);
	border-bottom-right-radius: var(--border-radius-lg);
}

.footer {
	text-align: center;
	font-size: 0.9em;
	color: var(--text-footer);
	border-top: 2px solid var(--bg-dark);
}

/* Медіа-запити для футера */
@media (max-width: 768px) {
	footer {
		width: calc(95% - 30px);
		padding: 10px 15px;
	}

	.footer {
		font-size: 0.8em;
	}
}